.main-container {
  padding-top: 51px;
}
.homepage-container {
  height: 500px;
}
.welcome-container {
  text-align: center;
  height: 100%;
  background: url("../../images/picForHomepage.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
}
.signup-container {
  width: 100%;
  position: absolute;
  top: 200px;
}
.inner-signup-container {
  margin: 20%;
}
.inner-signup-container-headings {
  display: none;
}
.signup-btn {
  display: block;
  margin: 2px;
  width: 100%;
}
.login-btn {
  background-color: #17a2b8;
  color: #fff;
  display: block;
  margin: 2px;
  width: 100%;
}
@media only screen and (min-width: 576px) {
  .main-container {
    padding-top: 58.92px;
  }
  .homepage-container {
    display: flex;
    flex-direction: row;
    height: 600px;
  }
  .welcome-container {
    text-align: left;
    width: 50%;
  }
  .signup-container {
    position: relative;
    width: 50%;
    top: 0;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
  .inner-signup-container-headings {
    display: block;
  }
  .login-btn {
    background-color: transparent;
    color: #17a2b8;
  }
}
