.page-container {
  background: url("../../images/girl-with-dog.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
.search-bar-container {
  background-color: rgb(46, 125, 139);
  color: rgb(125, 160, 170);
  display: flex;
  flex-flow: row nowrap;
  height: 3.5rem;
  padding: 0.4rem 2.5rem;
}
.filter-select {
  background-color: rgb(150, 209, 219);
  border: none;
  border-radius: 2px;
  color: white;
  &:hover {
    background-color: white;
    color: rgb(46, 125, 139);
  }
  &:focus {
    outline: none;
  }
  &:active {
    background-color: rgb(150, 209, 219);
    columns: white;
  }
}
.main-container {
  height: calc(100vh - 130px);
  max-width: 100%;
  color: rgb(48, 30, 56);
  padding: 0 0 2% 0;
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}
.main-row {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.non-owner-link {
  color: #cccccc;
  padding: 5px;
  margin: 3px;
}
.footer {
  position: fixed;
  bottom: 0;
}
.footer a {
  color: #cccccc;
  &:hover {
    text-decoration: none;
  }
}
