.page-container {
  height: 100vh;
  padding-top: 58.92px;
}
.name {
  display: block;
  background-color: rgb(46, 125, 139);
  color: rgb(125, 160, 170);
  padding-left: 5%;
}
.main-body-container {
  display: flex;
  flex-flow: column nowrap;
  height: calc(100vh - 150px);
}
.info-container {
  text-align: center;
  margin: 2%;
}
.facts-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
h3,
h1 {
  color: rgb(46, 125, 139);
}
.bio-container {
  margin: 5%;
  text-align: center;
}
.img-container {
  display: block;
  background-color: rgb(46, 125, 139);
  height: 95%;
  margin: 2%;
  border-radius: 5%;
  overflow: hidden;
  position: relative;
}
.img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.heart {
  color: red;
}
@media only screen and (min-width: 576px) {
  .main-body-container {
    flex-flow: row nowrap;
  }
  .info-container {
    text-align: left;
    width: 50%;
  }
  .img-container {
    width: 50%;
  }
}
