.card-container {
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
  margin: 0.5rem auto;
  height: 345px;
  width: 300px;
  padding: 1rem;
  transition: box-shadow 1s;
  transition: background-color 1s;
}
.card-container:hover {
  box-shadow: 0 0 1rem #515151;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.pic-container {
  height: 50%;
  background-color: rgb(46, 125, 139);
  position: relative;
}
.card-pic {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px groove rgb(48, 48, 48);
}
.more-details {
  color: rgb(102, 40, 102);
}
@media only screen and (min-width: 576px) {
  .card-container {
    margin: 0.5rem;
  }
}
