@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
.container {
  padding: 1.5rem;
  background-color: rgb(46, 125, 139);
  height: fit-content;
  width: 100%;
}
.about-header {
  color: white;
  padding-bottom: 1rem;
}
.about-p {
  color: white;
}
.search-link {
  background-color: rgb(46, 125, 139);
  padding: 2px;
  box-shadow: 2px 4px 4px #888888;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}
.row {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.col {
  margin: 5px;
  width: 100%;
  color: rgb(46, 125, 139);
  background-color: white;
  border-radius: 10px;
  -moz-box-shadow: 0 0 5px rgb(240, 240, 240);
  -webkit-box-shadow: 0 0 5px rgb(240, 240, 240);
  box-shadow: 0 0 5px rgb(240, 240, 240);
}
.card-header {
  font-family: "Yellowtail", cursive;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.icon {
  margin: 7px 3px 0 0;
}
.footer {
  padding: 5px;
  height: 1rem;
}
@media only screen and (min-width: 576px) {
  .search-link:hover {
    text-decoration: none;
    color: rgb(32, 81, 90);
  }
  .row {
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  .col {
    width: 350px;
  }
}
