@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
.container {
  padding: 1.5rem;
  background-color: rgb(46, 125, 139);
  height: fit-content;
  width: 100%;
}
.about-header {
  color: white;
  padding-bottom: 1rem;
}
.about-p {
  color: white;
}
.search-link {
  color: rgb(46, 125, 139);
}
.search-link:hover {
  text-decoration: none;
  color: #bbc3cc;
}
.row {
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.col {
  width: 350px;
  color: rgb(46, 125, 139);
  background-color: white;
  border-radius: 10px;
  -moz-box-shadow: 0 0 5px rgb(240, 240, 240);
  -webkit-box-shadow: 0 0 5px rgb(240, 240, 240);
  box-shadow: 0 0 5px rgb(240, 240, 240);
}
.card-header {
  font-family: "Yellowtail", cursive;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.icon {
  margin: 7px 3px 0 0;
}
.footer {
  padding: 5px;
  height: 1rem;
}
