.form {
  display: flex;
  flex-flow: row nowrap;
}
.search {
  margin: 0 0.3rem;
  height: 2.7rem;
  background-color: rgb(150, 209, 219);
  border: none;
  border-radius: 2px;
  color: white;
  &:hover {
    background-color: white;
    color: rgb(46, 125, 139);
  }
  &:focus {
    outline: none;
  }
  &:active {
    background-color: rgb(150, 209, 219);
    columns: white;
  }
}
.dropdown-menus {
  display: flex;
  flex-flow: column nowrap;
  z-index: 100;
}
.name-input {
  border-radius: 2px;
  width: 222px;
  min-height: 44px;
  border: none;
  color: #7da0aa;
  font-weight: 300;
  padding: 0 1rem;
  &:focus {
    outline: none;
  }
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #7da0aa;
    opacity: 1; /* Firefox */
    font-weight: 300;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #7da0aa;
    font-weight: 300;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #7da0aa;
    font-weight: 300;
  }
}

@media only screen and (min-width: 576px) {
  .search {
    margin: 0 1rem;
  }
  .dropdown-menus {
    display: contents;
  }
}
