.navbar {
  background-color: rgb(46, 125, 139, 0.8);
  position: absolute;
  width: 100%;
  z-index: 10000;
}
.header-link {
  color: #cccccc;
  margin: 0 1rem;
}
.header-link:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
.logout {
  color: #cccccc;
  cursor: pointer;
  padding-left: 1rem;
}
.logout:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.about {
  padding-left: 1rem;
  color: #cccccc;
}
.about:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
@media only screen and (min-width: 992px) {
  .logout {
    position: absolute;
    right: 2rem;
  }
  .about {
    position: absolute;
    right: 8rem;
  }
}
