.main-body-container {
  display: flex;
  flex-flow: row nowrap;
  height: calc(100vh - 58.92px);
}
.main-body-pic {
  background-color: rgb(46, 125, 139);
  width: 50%;
  margin: 2%;
  border-radius: 5%;
  overflow: hidden;
  position: relative;
}
.img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.card {
  width: 50%;
  padding: 2%;
  margin-bottom: 2%;
  overflow: auto;
  border: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.card::-webkit-scrollbar {
  display: none;
}
