.main-body-container {
  display: flex;
  flex-flow: row nowrap;
}
.main-body-pic {
  width: 50%;
  margin: 2%;
  border-radius: 5%;
  background: url("../images/picForProfileSettings.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.card {
  width: 50%;
  margin: 2% 5% 2% 2%;
}
