.container {
  height: 100vh;
  padding-top: 58.92px;
}
.card {
  padding: 2% 20%;
  margin-bottom: 2%;
  overflow: auto;
  border: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.card::-webkit-scrollbar {
  display: none;
}
